<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.personelotomasyon">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kisi_Ekle_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Kisileri_Litele_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Kisi_Detay_Activity"
            android:parentActivityName=".Kisileri_Litele_Activity" />
        <activity android:name=".Kisi_Duzenle_Activity"
            android:parentActivityName=".Kisileri_Litele_Activity"></activity>
    </application>

</manifest>